<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Personal/SeleniumWithTestNG">
        <classes>
<!--            <class name="TestNG_Test.ObaydulBhai.TestNGTesting"/>-->
            <class name="TestNG_Test.DataDrivenTest"/>
<!--                <methods>-->
<!--                    <include name="verifyLogInPage"/>-->
<!--                    <include name="verifyAboutUs"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>


<!--Running classes-->

<!--<classes>-->
<!--<class name="com.first.example.demoOne"/>-->
<!--<class name="com.first.example.demoTwo"/>-->
<!--<class name="com.second.example.demoThree"/>-->
<!--</classes>-->



<!--Running method-->

<!--<class name="TestNG_Test.TestNgTest">-->
<!--                <methods>-->
<!--                    <include name="verifyLogInPage"/>-->
<!--                    <include name="verifyAboutUs"/>-->
<!--                </methods>-->
<!--</class>-->